---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 error">
    <main class="m-auto max-w-4xl min-h-screen grid place-content-center">
        <h1 class="text-4xl text-center font-bold mb-4">
            Error 404
        </h1>
        <img src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExb290enE2NTJmZTJmNm90eW82NzNyaWQwMTZxMGk0NmI2czJ6bmx1OCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/QMHoU66sBXqqLqYvGO/giphy.gif" alt="">
    </main>
</Layout>