
<h1
    class="text-6xl md:text-8xl font-bold uppercase text-center py-8 px-4" 
    style=`view-transition-name: book-title`
>
    Trasnsition API
    <span class="block text-[36px] md:text-[58px]">books</span>
</h1>